@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Lora";
  src: url(../fonts/Lora-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url(../fonts/Lora-Italic-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icon.eot?q6vz9p");
  src:
    url("../fonts/icon.eot?q6vz9p#iefix") format("embedded-opentype"),
    url("../fonts/icon.ttf?q6vz9p") format("truetype"),
    url("../fonts/icon.woff?q6vz9p") format("woff"),
    url("../fonts/icon.svg?q6vz9p#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/logos.eot?sko33r");
  src:
    url("../fonts/logos.eot?sko33r#iefix") format("embedded-opentype"),
    url("../fonts/logos.ttf?sko33r") format("truetype"),
    url("../fonts/logos.woff?sko33r") format("woff"),
    url("../fonts/logos.svg?sko33r#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
  content: "\e911";
}
.icon-cloud-lightning:before {
  content: "\e908";
}
.icon-codesandbox:before {
  content: "\e909";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-globe:before {
  content: "\e90a";
}
.icon-info:before {
  content: "\e90b";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-link:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-map:before {
  content: "\e90c";
}
.icon-map-pin:before {
  content: "\e90d";
}
.icon-menu:before {
  content: "\e904";
}
.icon-message-circle:before {
  content: "\e90e";
}
.icon-pen-tool:before {
  content: "\e90f";
}
.icon-send:before {
  content: "\e910";
}
.icon-twitter:before {
  content: "\e905";
}
.icon-x:before {
  content: "\e906";
}
.icon-youtube:before {
  content: "\e907";
}

.icon-adobe:before {
  content: "\e912";
  color: #f00;
}
.icon-airbnb:before {
  content: "\e913";
  color: #ff5a5f;
}
.icon-amazon:before {
  content: "\e900";
  color: #f90;
}
.icon-behance:before {
  content: "\e917";
  color: #1769ff;
}
.icon-bitcoin:before {
  content: "\e918";
  color: #f7931a;
}
.icon-blackberry:before {
  content: "\e901";
}
.icon-blender:before {
  content: "\e919";
  color: #f5792a;
}
.icon-cashapp:before {
  content: "\e902";
  color: #00c244;
}
.icon-dell:before {
  content: "\e91c";
  color: #007db8;
}
.icon-discord:before {
  content: "\e91d";
  color: #7289da;
}
.icon-ebay:before {
  content: "\e903";
  color: #e53238;
}
.icon-epicgames:before {
  content: "\e904";
}
.icon-fiverr:before {
  content: "\e905";
  color: #1dbf73;
}
.icon-godotengine:before {
  content: "\e906";
  color: #478cbf;
}
.icon-ibm:before {
  content: "\e920";
  color: #054ada;
}
.icon-intel:before {
  content: "\e907";
  color: #0071c5;
}
.icon-notion:before {
  content: "\e922";
}
.icon-playstation:before {
  content: "\e908";
  color: #003791;
}
.icon-spacex:before {
  content: "\e909";
  color: #005288;
}
.icon-steam:before {
  content: "\e90a";
}
.icon-tesla:before {
  content: "\e90b";
  color: #c00;
}
.icon-unity:before {
  content: "\e90c";
}
.icon-unrealengine:before {
  content: "\e90d";
}
.icon-wikipedia:before {
  content: "\e90e";
}
.icon-windows:before {
  content: "\e90f";
  color: #0078d6;
}
.icon-xbox:before {
  content: "\e910";
  color: #107c10;
}
