* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header */
header.header {
  position: absolute;
}

nav.nav {
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
}

a.logo {
  font-size: 32px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-decoration: none;
}

button.menu-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  transition: background-color 0.3s ease-in-out;

  position: fixed;
  right: 20px;
}

.menu-btn-bg-transparent {
  background-color: transparent;
}

.menu-btn-bg-black {
  background-color: black;
}

button > .menu-btn-text {
  color: green;

  transition: color 0.3s ease-in-out;
}

button > .menu-btn-text:hover {
  color: white;
}

button > .menu-btn-icon {
  font-size: 24px;
  color: white;
}
