:root {
  --green: #39b54a;
  --blackish: #010507;
  --gray: #757575;
  --white: #ffffff;
  --black: #000000;
  --tpwhite: #ffffff80;
}

*,
*::before,
*::after,
h1 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
}

button {
  color: white;
  background-color: transparent;
  border: none;
}

/* ===== Header Section Start ===== */
header.header {
  position: absolute;
  z-index: 10;
}

.navbar {
  padding: 12px 24px;
}

a.logo {
  font-size: 32px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-decoration: none;
}

button.menu-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  transition: background-color 0.3s ease-in-out;

  position: fixed;
  right: 20px;
  top: 20px;
}

.menu-btn-bg-transparent {
  background-color: transparent;
}

.menu-btn-bg-black {
  background-color: black;
}

button.menu-btn > .menu-btn-text {
  color: var(--green);

  transition: color 0.3s ease-in-out;
}

button.menu-btn:hover > .menu-btn-text {
  color: white;
}

button.menu-btn > .menu-btn-icon {
  font-size: 24px;
  color: white;
}

/* Header: Navigation Start */
nav.nav {
  padding: 24px 10px 0 24px;
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: black;
  width: 280px;
  height: 100vh;

  position: fixed;
  top: 0;
  right: 0;

  overflow: auto;
  overflow-x: hidden;

  transition: transform 0.3s ease-in-out;
}

.nav-child {
  transition:
    opacity 0.6s ease 0.3s,
    transform 0.6s ease 0.3s;
}

.nav-child-close {
  opacity: 0;
  transform: translateX(50px);
}

.nav-child-open {
  opacity: 1;
  transform: translateX(0px);
}

.nav-open {
  transform: translateX(0);
}

.nav-close {
  transform: translateX(100%);
}

nav.nav > .nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px 30px 12px 0;
}

nav.nav > .nav-header > h3 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--green);
}

nav.nav > .nav-header > button {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

nav.nav > ul.nav-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 32px 0 28px 0;
}

nav.nav > ul.nav-list > li {
  list-style-type: none;
}

nav.nav > ul.nav-list > li > a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

nav.nav > p.sub-heading {
  font-size: 13px;
  color: gray;
  padding: 12px 0 24px 0;
  line-height: 1.8;
}

nav.nav > .nav-social {
  display: flex;
  gap: 12px;
}

nav.nav > .nav-social > a {
  color: gray;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

nav.nav > .nav-social > a:hover {
  color: white;
}
/* Header: Navigation End */
/* ===== Header Section End ===== */

/* ===== Hero Section Start ===== */
.hero-container {
  height: 100vh;
  min-height: 800px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);

  font-family: "Montserrat", sans-serif;

  display: flex;
  flex-wrap: wrap;
  place-content: center;
  gap: 10px;

  position: relative;

  overflow: hidden;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-image: url("../assets/hero-image.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-text {
  max-width: 980px;
  width: 980px;
  padding: 0 0 0 20px;
}

.hero-text > h3 {
  color: gray;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
}

.hero-text > h1 {
  font-size: 48px;
  line-height: 1.4;
  padding-bottom: 48px;
}

.hero-callToAction {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 24px;
}

.hero-callToAction > a {
  display: inline-block;
  font-weight: 600;
  min-width: 180px;
  color: white;
  border: 2px solid white;
  padding: 12px 24px;
  text-align: center;
  transition:
    color ease-in-out 0.3s,
    background-color ease-in-out 0.3s;
}

.hero-callToAction > a:hover {
  color: black;
  background-color: white;
}

.scroll-down {
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 100px;
  padding-right: 10px;
  border-right: 3px solid var(--green);
}

.scroll-down > .scroll-down-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: -10px;
}

.scroll-down > .scroll-down-btn > .scroll-down-text {
  color: white;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.scroll-down > .scroll-down-btn > .icon {
  color: var(--green);
  font-size: 20px;
}

.hero-social {
  display: flex;
  flex-direction: column;
  gap: 12px;

  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.hero-social > a {
  padding: 8px;
  border: 2px solid white;
  width: fit-content;
  border-radius: 100%;
}

.hero-social .icon {
  color: white;
  font-size: 16px;
}

/* Hero: Media Queries Start */
@media (max-width: 768px) {
  .hero-text {
    padding: 0 20px 0 20px;
  }

  .hero-text > h3 {
    text-align: center;
  }

  .hero-text > h1 {
    text-align: center;
    font-size: 32px;
  }

  .hero-callToAction {
    justify-content: center;
  }

  .hero-social {
    display: none;
  }
}
/* Hero: Media Queries End */
/* ===== Hero Section End ===== */

/* ===== About Section Start ===== */
.about {
  height: 100vh;
  min-height: 800px;

  background-color: var(--green);

  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about .about-heading-container {
  width: 860px;
}

.about .about-sub-heading {
  color: black;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about .about-heading {
  color: white;

  font-size: 78px;
  text-align: center;

  width: fit-content;
  padding: 30px 30px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.about .content-container {
  max-width: 860px;
  padding: 24px 0 44px 0;
}

.about .content {
  font-family: "Lora", serif;
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
}

.about .accomplishments-container {
  width: 960px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
}

.about .accomplishments-container > .accomplishments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.about .accomplishments-container > .accomplishments > h2 {
  color: white;

  font-size: 80px;
}

.about .accomplishments-container > .accomplishments > h1 {
  font-size: 18px;
}

.about .accomplishments-container > .saparator {
  width: 1px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.3);
}

/* About: Media Queries Start */
@media (max-width: 768px) {
  .about {
    height: 100vh;
    min-height: 1200px;
  }

  .about .about-sub-heading {
    font-size: 15px;
  }

  .about .about-heading {
    font-size: 52px;
  }

  .about .content-container {
    max-width: 420px;
    padding: 24px 0 44px 0;
  }

  .about .content {
    font-size: 20px;
  }

  .about .accomplishments-container {
    width: 960px;

    flex-direction: column;
  }

  .about .accomplishments-container > .saparator {
    width: 200px;
    height: 1px;
  }
}
/* About: Media Queries End */
/* ===== About Section End ===== */

/* ===== Services Section Start ===== */
.services {
  min-height: 100vh;
  height: 800px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.services .services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services .heading-container {
  width: 860px;
  margin: 0 auto;
  text-align: center;
}

.services .sub-heading {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--green);
}

.services .heading {
  font-size: 48px;
  padding: 24px 0;
  line-height: 1.2;
}

.services .saparator {
  width: 580px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.services .services-wrapper {
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 52px;

  padding: 58px 0;
}

.services .services-wrapper > div {
  display: flex;

  align-items: start;
  gap: 24px;
}

.services .services-wrapper > div .icon {
  font-size: 48px;
  color: var(--green);
}

.services .services-wrapper > div div h2.service-name {
  font-size: 32px;
  font-weight: 600;

  padding-bottom: 24px;
}

.services .services-wrapper > div div p.service-discription {
  font-family: "Lora", serif;
  font-size: 18px;
  color: var(--gray);
  line-height: 1.5;
}

/* Services: Media Queries Start */
@media (max-width: 768px) {
  .services {
    min-height: 100vh;
    height: 1400px;
  }

  .services .heading-container {
    width: 420px;
  }

  .services .sub-heading {
    font-size: 14px;
  }

  .services .heading {
    font-size: 28px;
  }

  .services .saparator {
    width: 380px;
  }

  .services .services-wrapper {
    width: 420px;
    grid-template-columns: 1fr;
    gap: 40px 52px;
  }

  .services .services-wrapper > div .icon {
    font-size: 32px;
  }

  .services .services-wrapper > div div h2.service-name {
    font-size: 24px;
  }
}
/* Services: Media Queries End */
/* ===== Services Section End ===== */

/* ===== Works Section Start ===== */
.works {
  min-height: 50vh;
}

.works .works-container {
  background-color: #111111;

  padding: 120px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.works .words-heading-container {
  text-align: center;
}

.works .words-heading-container > h3 {
  color: var(--green);

  letter-spacing: 2px;
  text-transform: uppercase;
}

.works .words-heading-container > h1 {
  color: var(--white);

  padding: 14px 0;

  font-size: 42px;
  line-height: 1.4;
}

.works .saparator {
  width: 720px;
  height: 1px;
  background-color: #ffffff18;
}

.works .height {
  height: 80px;
}

.works .projects {
  margin-top: -180px;

  padding-bottom: 100px;
}

.works .projects-wrapper {
  margin: 0 auto;
  width: 1200px;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.works a.project-wrapper {
  display: block;
  position: relative;

  width: 100%;
  height: 380px;

  overflow: hidden;
}

.works .projects img {
  width: 100%;
  object-fit: contain;

  z-index: 1;
}

.works .projects .icon,
.works .projects .project-info {
  position: absolute;

  z-index: 10;
}

.works .projects .icon {
  top: 24px;
  left: 24px;

  padding: 10px;

  color: var(--white);

  border: 2px solid var(--white);
  border-radius: 50%;
}

.works .projects .project-info {
  left: 24px;
  bottom: 24px;
}

.works .projects .project-info h1 {
  color: var(--white);

  font-size: 20px;

  padding: 8px 0;
}

.works .projects .project-info p {
  color: var(--gray);
}

.works .projects .overlay {
  position: absolute;
  inset: 0;
  z-index: 5;
  width: 100%;
  height: 100%;

  background-color: #000000b0;
}
/* Works: Media Queries Start */
@media (max-width: 768px) {
  .works .words-heading-container > h3 {
    font-size: 14px;
  }

  .works .words-heading-container > h1 {
    padding: 14px 20px;

    font-size: 28px;
  }

  .works .saparator {
    width: 420px;
  }

  .works .projects-wrapper {
    grid-template-columns: 1fr;
  }
}
/* Works: Media Queries End */
/* ===== Works Section End ===== */

/* ===== Clients Section Start ===== */
#clients {
  min-height: 100vh;

  background-color: #dddddd;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clients .clients-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 100px 0;
}

#clients .clients-heading-container {
  width: 720px;

  text-align: center;
}

#clients .clients-heading-container h3 {
  color: var(--green);

  letter-spacing: 2px;
  text-transform: uppercase;
}

#clients .clients-heading-container h1 {
  font-size: 42px;
  line-height: 1.4;
}

#clients .clients-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;

  width: 1200px;

  padding: 52px 0;
}

#clients .clients-logos .icon {
  font-size: 80px;
}

/* Clients: Media Queries Start */
@media (max-width: 768px) {
  #clients .clients-heading-container {
    width: 420px;
  }

  #clients .clients-heading-container h3 {
    font-size: 14px;
  }

  #clients .clients-heading-container h1 {
    font-size: 28px;
  }

  #clients .clients-logos {
    width: 420px;
  }

  #clients .clients-logos .icon {
    font-size: 40px;
  }
}
/* Clients: Media Queries End */
/* ===== Clients Section End ===== */
