* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* @font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Lora";
  src: url(../fonts/Lora-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url(../fonts/Lora-Italic-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
} */

/* Header */
nav.nav {
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
}

a.logo {
  font-size: 24px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  color: black;
  text-decoration: none;
}

button.menu-btn {
  color: green;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
}
